<div class="container">
  <mat-card>
    <form #bookForm="ngForm" (ngSubmit)="onSubmit(bookForm,selectCategory)" class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput type="text" #bookName ngModel name="bookName" placeholder="Name book" required>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput type="text" #bookAuthor ngModel name="bookAuthor" placeholder="Author" required>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput type="number" #bookPrice ngModel name="bookPrice" placeholder="Price" required>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Categories" #selectCategory>
          <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
        <button mat-raised-button  type="submit" [disabled]="!bookForm.form.valid">Submit</button>
        <button mat-raised-button color="warn" type="button" (click)="resetForm(bookForm)">Reset</button>
    </form>
  </mat-card>
  <div>{{thognbao}}</div>
</div>