<form #FormSignup="ngForm" (ngSubmit)="onLogin(FormSignup)" class="main">
  <h1>Sign-up</h1>
  <mat-card>
    <mat-form-field class="example-full-width">
      <input matInput type="email" #nameLogin  ngModel name="login" placeholder="UserName" required>
      <mat-error *ngIf="!nameLogin.invalid">Please enter email</mat-error>
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button" (click)="fileUpload.click()">Image</button>
      <input type="file" #fileUpload style="display: none">
    </div>
    <mat-form-field class="example-full-width">
      <input matInput type="password" #namePassword ngModel name="password" placeholder="Password" required>
      <mat-error *ngIf="!namePassword.invalid">Please enter password</mat-error>
    </mat-form-field> <br>
    <button mat-raised-button color="accent" type="submit" [disabled]="FormSignup.invalid">Signup</button>
  </mat-card>
</form>